VITE_FIREBASE_API_KEY=AIzaSyAp5IEbaEsz1E5-31YNvlLC3xvrKvm9xMs
VITE_FIREBASE_AUTH_DOMAIN=d6globalmedia-6cfd1.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=d6globalmedia-6cfd1
VITE_FIREBASE_STORAGE_BUCKET=d6globalmedia-6cfd1.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=79362067981
VITE_FIREBASE_APP_ID=1:79362067981:web:7375aad073243464de4f44
VITE_API_URL=http://localhost:5000/api
