.messages{

display:grid;

grid-template-columns:330px 1fr;

gap:25px;

padding:35px;

background:#F5F7FB;

min-height:100vh;

}

/* LEFT */

.chat-list{

background:#fff;

border-radius:20px;

padding:25px;

box-shadow:0 12px 30px rgba(0,0,0,.06);

}

.chat-search{

display:flex;

align-items:center;

gap:10px;

background:#F5F7FB;

padding:14px;

border-radius:12px;

margin-bottom:25px;

}

.chat-search input{

border:none;

background:none;

outline:none;

width:100%;

}

.chat-user{

display:flex;

align-items:center;

gap:15px;

padding:16px;

border-radius:15px;

cursor:pointer;

transition:.3s;

margin-bottom:12px;

}

.chat-user:hover{

background:#E8F3FC;

}

.avatar{

width:55px;

height:55px;

border-radius:50%;

background:#0077CC;

display:flex;

justify-content:center;

align-items:center;

font-weight:700;

color:#14213D;

font-size:22px;

}

.chat-info{

flex:1;

}

.chat-info h4{

color:#14213D;

margin-bottom:4px;

}

.chat-info p{

font-size:13px;

color:#777;

}

.online{

color:#22C55E;

font-size:10px;

}

.offline{

color:#bbb;

font-size:10px;

}

.chat-user.active{

background:#E8F3FC;

}

.unread-badge{

background:#0077CC;

color:#14213D;

font-size:11px;

font-weight:700;

min-width:20px;

height:20px;

border-radius:10px;

display:flex;

align-items:center;

justify-content:center;

padding:0 6px;

}

.chat-status{

text-align:center;

color:#7B8498;

margin:auto;

}

.message-time{

display:block;

font-size:11px;

opacity:.65;

margin-top:6px;

}

/* RIGHT */

.chat-window{

background:#fff;

border-radius:20px;

box-shadow:0 12px 30px rgba(0,0,0,.06);

display:flex;

flex-direction:column;

}

.chat-header{

padding:25px;

border-bottom:1px solid #eee;

}

.chat-header h2{

color:#14213D;

}

.chat-header span{

color:#888;

}

.chat-body{

flex:1;

padding:30px;

display:flex;

flex-direction:column;

gap:20px;

}

.message{

padding:16px 20px;

border-radius:18px;

max-width:65%;

line-height:1.6;

}

.received{

background:#EEF2F7;

align-self:flex-start;

}

.sent{

background:#14213D;

color:#fff;

align-self:flex-end;

}

.chat-input{

display:flex;

padding:20px;

border-top:1px solid #eee;

gap:15px;

}

.chat-input input{

flex:1;

padding:15px;

border:1px solid #ddd;

border-radius:12px;

outline:none;

}

.chat-input button{

width:55px;

border:none;

background:#0077CC;

color:#14213D;

border-radius:12px;

cursor:pointer;

font-size:18px;

transition:.3s;

}

.chat-input button:hover{

transform:scale(1.05);

}

@media(max-width:992px){

.messages{

grid-template-columns:1fr;

}

.chat-window{

min-height:600px;

}

}